<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>404 page</title>
    <link rel="icon" href="/img/weather.png">
    <link rel='stylesheet' type='text/css' href='/css/styles.css'>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>{{errorMessage}}</p>
    </div>
    {{>footer}}
</body>
</html>