<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="icon" href="/img/weather.png">
    <link rel='stylesheet' href='/css/styles.css'>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="main-content">
     {{>header}}
     <form>
         <input placeholder="Location">
         <button><i class='bx bx-search-alt-2'>Search</i></button>
     </form>

     <p id="message-1"></p>
     <p id="message-2"></p>
    </div>
    
    {{>footer}}
    
    <script src="/js/app.js"></script>
</body>
</html>